*{padding: 0; margin: 0;}
body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}
/*-----------slide-------*/
.slider {
    width: 75%;
    margin:auto;
    padding: 0%;
}

.slick-slide {
    margin: 0px 0px;
    padding: 0px;
}
.slick-slide img {
    width: 100%;
    padding: 0px;
}
/*------------------------*/
.section{
	background-size: cover;
}
.slide{
	background-size: cover;
}
